VITE_ETH_POLYGON_URL= #Alchemy ether polygon url
VITE_ESCROWFACTORYADDRESS= #escrow factory address
VITE_USDC_TOKEN= #reward token (usdc, usdt, htm, etc)

#cloudinary
VITE_CLOUDINARY_NAME=''
VITE_UPLOAD_PRESET=''